html, body {
    height: 100%;
}

.columns.is-fullheight {
    height: 100%;
}

.input {
    box-shadow: none;
    border-radius: 0;
    border: none;
    text-align: center;
    font-size: 4em;
    padding: 0;
    background-color: transparent;
}

.input:focus, .input:active {
    border: none;
    box-shadow: none;
}

.hero.is-medium {
    height: 50vh;
}