<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Color Picker</title>
        <link rel="stylesheet" type="text/css" href="$% url_for('static', filename='css/bulma/css/bulma.css') %$">
        <link rel="stylesheet" type="text/css" href="$% url_for('static', filename='css/color_picker.css') %$">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <div class="hero is-medium">
                <div class="hero-body" v-bind:style="questionStyle">
                    <div class="columns is-centered">
                        <div class="column is-gapless">
                            <div class="field">
                                <div class="control is-large">
                                    <input v-model="color" class="input" type="text" maxlength="6" placeholder="000000" v-bind:style="questionStyle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero is-medium">
                <div class="hero-body has-text-centered" v-bind:style="answerStyle">
                    <h1 class="title is-1" v-bind:style="answerStyle">{{ color_name }}</h1>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    color: '',
                    color_name: ' ',
                    questionStyle: {
                        backgroundColor: '#33',
                        color: ''
                    },
                    answerStyle: {
                        backgroundColor: '',
                        color: ''
                    }
                },
                watch: {
                    color: function(newColor, oldColor) {
                        this.debouncedGetColor()
                    },
                    'answerStyle.backgroundColor': function(newStyle) {
                        // Invert text color for better readability
                        var result = /^#?([a-f\d]{6})$/i.exec(newStyle)

                    }
                },
                created: function(){
                    this.debouncedGetColor =    _.debounce(this.getColor, 500)
                },
                methods: {
                    getColor: function(){
                        app = this
                        question_color = this.color
                        axios.post('$% url_for("color") %$', {code: question_color})
                        .then(function(response) {
                            color_answer = JSON.parse(response.data.color)
                            inverted_color = response.data.inverted_color
                            app.color_name = color_answer.Name
                            app.answerStyle.backgroundColor = color_answer.Hex
                            app.questionStyle.backgroundColor = '#' + question_color
                            app.questionStyle.color = '#' + inverted_color
                            app.answerStyle.color = '#' + inverted_color
                        })
                        .catch(function(error) {
                            app.color_name = error.data.error
                        })
                    },
                }
            })
        </script>
    </body>
</html>
